<p>Cadastrar Cliente</p>
<form #clienteForm="ngForm" (ngSubmit)="onSubmit(clienteForm)">

  <label for="id">ID:</label><br>
  <input type="number" id="id" name="id" ngModel required><br><br>

  <label for="nome">Nome:</label><br>
  <input type="text" id="nome" name="nome" ngModel required><br><br>

  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" ngModel required><br><br>

  <label for="idade">Idade:</label><br>
  <input type="number" id="idade" name="idade" ngModel required><br><br>

  <button type="submit">Cadastrar</button>
</form>
<ul>
  <li *ngFor="let cliente of clientes">{{ cliente.nome }}</li>
</ul>
<br><br>