<div class="container w-50">
    <h1>HOME</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto atque at, similique est accusantium harum quia,
        sit culpa nihil reiciendis voluptate. Et laudantium eaque delectus distinctio praesentium veniam voluptatibus
        illum?
        Odit, possimus. Iusto libero, illo optio ipsa quasi quaerat itaque ea, doloribus dolore dignissimos sint, porro
        ipsam. Dolorem omnis delectus hic ad. Excepturi tempore vel natus, nemo debitis fuga porro!
        Ab corrupti esse ipsam unde nihil tempore facere deserunt. Neque quidem aperiam cupiditate delectus temporibus
        maxime illum animi quisquam porro voluptatibus? Magnam quia non exercitationem facilis in dolorem cumque?
        Blanditiis?
        Ullam ducimus, omnis doloremque enim nulla necessitatibus! Laboriosam cupiditate labore porro temporibus saepe
        ipsum atque distinctio officia nobis accusantium incidunt ab, ullam in asperiores eaque dolores fugiat quod, a
        nostrum!
        Vitae est ipsam vel aut fuga facere recusandae libero natus mollitia officiis rerum velit, accusantium dolorum
        consequatur exercitationem necessitatibus eaque, quas quisquam repellat? Ut, deleniti commodi laboriosam
        accusantium optio natus.
        Fugiat vero in nisi sapiente veritatis accusantium, et dolorum quas reiciendis id maxime nemo, corrupti ipsam
        illo expedita, perspiciatis vitae magni. Animi saepe laborum accusantium perferendis rem quasi tempora nihil.
    </p>
    <button (click)="goToAbout(11, 'linu')" class="btn btn-lg btn-primary">Go to about</button>
</div>